@font-face {
    font-family: 'NotoSans';
    src: url('./NotoSans-Regular.ttf') format('ttf'),
      url('./NotoSans-Bold.ttf') format('ttf'),
      url('./NotoSans-Italic.ttf') format('ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NotoSans', sans-serif;
}

body {
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
    font-size: 1.2rem;
}

.bg-img {
    position: absolute;
    opacity: 0.75;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    min-height: 100%;
    min-width: 320px;
    height: auto;
}

#UI {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "MI loader loader search"
    "snapshot cityname cityname atmospheric"
    ". fivedaytitle fivedaytitle ."
    "fiveday fiveday fiveday fiveday"
    ". hourlytitle hourlytitle ."
    "hourly hourly hourly hourly"
    ". footer footer .";
    min-height: 100%;
    min-width: 1024px;
    height: auto;
    width: 100%;
}

#tempchange {
    grid-area: MI;
    display: flex;
    margin: 0;
}

#search {
    grid-area: search;
    align-items: stretch;
}

#cityName {
    grid-area: cityname;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
}

#snapshot {
    grid-area: snapshot;
    display: grid;
    text-align: center;
    align-items: center;
    justify-items: center;
    margin-left: 5rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border: solid black 1px;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    background-color: rgba(183, 177, 177, 0.5);
}

#current-temp {
    font-size: 2.5rem;
}

#atmospheric {
    grid-area: atmospheric;
    display: grid;
    text-align: center;
    align-items: center;
    justify-items: center;
    margin-right: 5rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border: solid black 1px;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    background-color: rgba(183, 177, 177, 0.5);
}

#hourly {
    grid-area: hourly;
    display: flex;
    justify-content: space-evenly;
    border: solid black 1px;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    background-color: rgba(183, 177, 177, 0.5);
    overflow: auto;
}

#fiveday {
    grid-area: fiveday;
    display: flex;
    justify-content: space-around;
    margin: .5rem;
    border: solid black 1px;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    background-color: rgba(183, 177, 177, 0.5);
}

#fiveday_title {
    grid-area: fivedaytitle;
}

#hourly_title {
    grid-area: hourlytitle;
    margin-top: .5rem;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: .8rem;
}

.hidden {
    display: none;
}

.loader {
    margin: 0 auto;
    margin-top: 5rem;
    width:120px;
    height:20px;
    -webkit-mask:linear-gradient(90deg,#000 70%,#0000 0) left/20% 100%;
    background:
     linear-gradient(#000 0 0) left -25% top 0 /20% 100% no-repeat
     #ddd;
    animation:ct7 1s infinite steps(6);
  }
  @keyframes ct7 {
      100% {background-position: right -25% top 0}
  }

@media screen and (max-width:350px) {
    #fiveday {
        font-size: 1rem;
        margin: .75rem;
    }
    #hourly {
        font-size: 66%;
        margin: 0;
        justify-content: flex-start;
    }
}

@media screen and (min-width:350px) and (max-width:1024px) {
    #fiveday {
        font-size: 1rem;
        margin: .75rem;
    }
    #hourly {
        font-size: 66%;
        margin: 0;
        justify-content: flex-start;
    }
}